.greenDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
}
.redDot{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}

.noRecord{
  background: orange!important;
  color: #fff!important;
}

.warnRecord{
  background: red!important;
  color: #ffffff!important;
}

.normal{
  display: inline-block;
}

.noneStyle{
  display: none;
}

.center{
  text-align: center;
}
